body {
    background-color: #151937;
    color: white;
}

.text-gradient {
    background: linear-gradient(to right, red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.btn-gradient {
    background: linear-gradient(to right, #007bff, #00bfff);
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}